{% extends 'base.html' %}

{% block title %}
    {{qs.buyer.user.username}}
{% endblock title %}
    


{% block content %}
<!-- <div class="card mb-3 container" style="max-width: 540px;">
    <img src="{{qs.logo.url}}" class="card-img-top mt-3" alt="...">
    <div class="row g-0">
      <p class="card-text container">{{qs.Brief}}</p>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>{{qs.name}}</b></h5><p class="card-text"><small class="text-muted">followers: {{qs.followers.count}}
            
            {% if not profile == qs.buyer %} 
            <form action="{% url 'accounts:follow_unfollow' %}" method="post">
                <input type="hidden" name="account_id" value="{{qs.pk}}">
                {% csrf_token %}
                <button class="btn btn-primary mt-3" type="submit">
                {% if profile in qs.followers.all %}
                    unfollow
                {% else %}
                    follow
                {% endif %}
                    </button>
              </form>
              {% endif %}
          </small></p>
          <h5 class="card-title">Buyer: <b>@{{qs.buyer.user.username}}</b></h5>
          <p class="card-text"><small class="text-muted">Address: {{qs.address}} </small></p>
          <p class="card-text"><small class="text-muted">town: {{qs.town}} </small></p>
          <p class="card-text"><small class="text-muted">county: {{qs.county}} </small></p>
          <p class="card-text"><small class="text-muted">country: {{qs.country}} </small></p>
          <p class="card-text"><small class="text-muted">longitude: {{qs.longitude}} </small></p>
          <p class="card-text"><small class="text-muted">latitude: {{qs.latitude}} </small></p>
          <p class="card-text"><small class="text-muted">timestamp: {{qs.timestamp}}  </small></p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
        <div id="bio" class="col-12 col-lg-6 text-center">
            <h1>{{qs.name}}</h1>
            <img src="{{qs.logo.url}}" class="img-fluid">
        </div>
        <div id="more" class="col-12 col-lg-6 mt-5">
            <h2>calling informations</h2>
            <ul>
                <li>Brief: {{qs.Brief}}</li>
                <li>Email: {{qs.email}}</li>
                <li>Buyer: <b>@{{qs.buyer.user.username}}</b></b></li>
                <li>followers: {{qs.followers.count}}</li>
                <li>Products: {{qs.my_products_count}}</li>

                
            </ul>
            <h2>Address</h2>
            <ol>
                <li>Address: {{qs.address}}</li>
                <li>town: {{qs.town}}</li>
                <li>county: {{qs.county}}</li>
                <li>country: {{qs.country}}</li>
                <li>longitude: {{qs.longitude}}</li>
                <li>latitude: {{qs.latitude}}</li>
            </ol>
            {% if not profile == qs.buyer %} 
            <form action="{% url 'accounts:follow_unfollow' %}" method="post">
                <input type="hidden" name="account_id" value="{{qs.pk}}">
                {% csrf_token %}
                <button class="btn btn-primary mt-3" type="submit">
                {% if profile in qs.followers.all %}
                    unfollow
                {% else %}
                    follow
                {% endif %}
                    </button>
              </form>
              {% endif %}
        </div>
    </div>
</div>

<hr>
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
    {% for item in qs.my_products %}
    <div class="col">
      <div class="card">
        <img src="{{item.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <h4 ><strong>
                  {% if item.discount != 0 %}
                    <del>{{item.price}}</del> {{item.new_price_after_dicount}}
                  {% else %}
                  ${{item.price}}
                  {% endif %}
                  
                </strong></h4>
                <p class="card-text">
                  <div class="box-element product">
                  
                  {% if profile.user.username == qs.buyer.user.username %}
                    <a href="{% url 'accounts:update_product' item.slug %}"><button type="button" class="btn btn-light text-dark me-2">Update</button></a>
                    <a href="{% url 'accounts:delete_product' item.slug %}"><button type="button" class="btn btn-primary">Delete</button></a>
                  {% else %}
                  <form action="{% url 'store:add_to_cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_pk" value="{{item.pk}}">
                    <a class="btn btn-outline-success" href="{% url 'store:detail' item.slug %}">View</a>
                    <button  class="btn btn-outline-secondary add-btn update-cart" id="btn">Add to Cart</button>
                  </form>
                  {% endif %}
                    
                </div>
                </p>
              </div>
          <p class="card-text">{{item.description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
    