{% extends 'base.html' %}


{% block title %}

{% if form %}
create account
{% elif u_form %}
 update account
 {% elif account %}
 delete your account {{account.buyer}}
{% endif %}
    
    
{% endblock title %}
    
{%load crispy_forms_tags %}
{% block content %}
    <div class="mb-3">
        <form method="post" action="" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {% if form %}
                {{ form |crispy}}
                <button type="submit" class="btn btn-primary mt-3">Create</button>
                {% elif u_form %}
                {{ u_form |crispy}}
                <button type="submit" class="btn btn-primary mt-3">Save</button>
                {% elif account %}
                <p>
                    <b>{{account.buyer.user.username}}</b> are you sure you want to delete your account? '{{account.name}}'
                </p>
                <button type="submit" class="btn btn-primary mt-3">Yes, Sure</button>
                {% endif %}
        </form>
    </div>
{% endblock content %}
    