{% extends 'base.html' %}


{% block title %}
    login
{% endblock title %}
    
{%load crispy_forms_tags %}

{% block content %}

<div class="mb-3">
<form method="post" action="" novalidate>
        {% csrf_token %}
        
        {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %} 
        {% endif %}
        {{ form.as_p}}
        <small>need account? <a href="{% url 'users:register' %}">Register</a></small>
      <button type="submit" class="btn btn-primary mt-3">Login</button>
  </form>
</div>
{% endblock content %}
    